{% extends "base.html" %}

{% block content %}
    <h1>{{title}}</h1>
    <p>
        This app is developed by Victor Delgado as a final project for the Python Kodland course. It provides basic chemistry calculations such as balancing chemical equations and calculating molar masses. The app is built using Flask and Chempy libraries.
        It is designed to be simple and user-friendly, allowing users to quickly perform chemistry calculations without needing to install any software.
        GitHub repository: <a href="https://github.com/VictorADelgado/Chemi.git" target="_blank">https://github.com/VictorADelgado/Chemi.git</a>
        More features will be added in the future, so stay tuned!
        
    </p>
{% endblock %}