{% extends "base.html" %}

{% block content %}
    <h1>{{title}}</h1>
    <p>
        Enter a chemical formula to calculate its molar mass:
    </p>
    <form method="post">
        <input type="text" name="formula" placeholder="e.g. H2O" required>
        <button type="submit">Calculate</button>
    </form>
    {% if molar_mass%}
        <h2>Molar Mass of {{ formula }}: {{ molar_mass }} g/mol</h2>
    {% endif %}
    {% if molar_mass_history %}
        <div class="history">
            <h3>History (Last 5):</h3>
            <ul>
                {% for item in molar_mass_history|reverse %}
                <li>
                    <strong>Input:</strong> {{ item.formula }} <br>
                    <strong>Molar Mass:</strong> {{ item.molar_mass }} g/mol
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}